<!-- Navigation -->
<div class="navbar bg-base-100 shadow-lg sticky top-0 z-50">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"></path>
                </svg>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="{{@site.url}}">Home</a></li>
                <li><a href="{{@site.url}}/blog/">All Posts</a></li>
                {{#if @site.navigation}}
                {{#foreach @site.navigation}}
                <li><a href="{{this.url}}" {{#if current}}class="text-primary"{{/if}} title="{{label}}">{{label}}</a></li>
                {{/foreach}}
                {{/if}}
                {{#if @custom.show_resume_button}}
                <li class="border-t pt-2 mt-2">
                    <a href="{{asset 'resume-ilia-zhitenev.pdf'}}" target="_blank" class="text-primary">
                        <i class="fas fa-download mr-2"></i>
                        Download Resume
                    </a>
                </li>
                {{/if}}
            </ul>
        </div>
        <a href="{{@site.url}}" class="btn btn-ghost text-xl font-bold">{{@site.title}}</a>
    </div>
    
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            <li><a href="{{@site.url}}" class="hover:text-primary">Home</a></li>
            <li><a href="{{@site.url}}/blog/" class="hover:text-primary {{#is "home"}}text-primary{{/is}}">All Posts</a></li>
            {{#if @site.navigation}}
            <li>
                <details>
                    <summary class="hover:text-primary {{#is "tag"}}text-primary{{/is}}">Categories</summary>
                    <ul class="p-2 bg-base-100 rounded-t-none">
                        {{#foreach @site.navigation}}
                        <li><a href="{{this.url}}" {{#if current}}class="text-primary"{{/if}} title="URL: {{this.url}}">{{label}}</a></li>
                        {{/foreach}}
                    </ul>
                </details>
            </li>
            {{/if}}
        </ul>
    </div>
    
    <div class="navbar-end">
        {{#if @custom.show_resume_button}}
        <a href="{{asset 'resume-ilia-zhitenev.pdf'}}" target="_blank" class="btn btn-primary btn-sm mr-2 hidden lg:flex">
            <i class="fas fa-download mr-2"></i>
            Resume
        </a>
        {{/if}}
        {{#if @custom.show_search}}
        <button class="btn btn-ghost btn-circle mr-2" data-ghost-search title="Search">
            <i class="fas fa-search text-lg"></i>
        </button>
        {{/if}}
        <button class="btn btn-ghost btn-circle" id="theme-toggle">
            <i class="fas fa-moon text-xl" id="theme-icon"></i>
        </button>
    </div>
</div>
